# Copy everything from your .gitignore file here

# Additional ignores specific to EAS builds

# Ignore native folders (if you are using EAS Build)
/apps/mobile/android
/apps/mobile/ios

# Ignore test coverage reports
/apps/mobile/coverage

/apps/desktop
/apps/docs
/apps/web