apps/desktop/build/bin
node_modules
frontend/dist
**.db
frontend/.next/**
frontend/out/**
frontend/tsconfig.tsbuildinfo
**/.DS_Store
frontend/.env
frontend/.env.**
.yarn/*
apps/mobile/.env.development
apps/mobile/assets/nonfree/**
apps/mobile/assets/licensed/**
apps/mobile/assets/badges/**
apps/mobile/assets/branding/**
apps/mobile/assets/dhaaga/**
apps/web/public/assets/**

.turbo/

# Yarn
.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

.idea/**

packages/**/dist/**
packages/**/tsconfig.tsbuildinfo
apps/web/public/docs/**