name: 'Lite Edition'

on:
  push:
    branches: [ '**' ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5 # Checkout
        with:
          lfs: true
      - uses: actions/setup-node@v5 # Install Node.js
        with:
          node-version: latest
          cache: "npm"
      - run: npm install # Install dependencies
      - run: npm run build-deps
      - run: npm install @react-native-community/cli
        working-directory: ./apps/mobile
      - run: npm uninstall expo-dev-client expo-notifications expo-iap expo-device
        working-directory: ./apps/mobile
      - run: node scripts/lite.js # pre-requisites scripts
        working-directory: ./apps/mobile
        env:
          LITE_EDITION_SIGNING_KEY: ${{ secrets.LITE_EDITION_SIGNING_KEY }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      - run: ./gradlew assembleRelease # produce apk
        working-directory: ./apps/mobile/android
      - uses: actions/upload-artifact@v4 # upload artifacts
        with:
          name: Dhaaga-v$VERSION-Lite
          path: |
            apps/mobile/android/app/build/outputs/apk/release